body {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

a {
    color: #FFFF;
    text-decoration: none;
    text-decoration-line: none;
}

li a:hover {
    color: #757575;
    text-decoration: none;
    text-decoration-line: none;
}

.container {
  width: 100%;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.carousel {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.items-holder {
    box-sizing: border-box;
    margin-left: 0;

}

.carousel-item {
    width: 240px;
    height: 240px;
    background-color: #cccc;
    margin: 8px 8px 8px 8px;
}

.header {
    background-color: #212121;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFF;
    padding: 8px 16px 8px 16px;
    position: relative;
}

.highlight {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.item {
    margin-right: 8px;
}

#logo {
    box-sizing: border-box;
    display: block;
    text-align: left;
    align-self: center;
    height: 30px;
}
