body {
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

a {
    color: #FFFF;
    text-decoration: none;
    text-decoration-line: none;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li a:hover {
    color: #757575;
    text-decoration: none;
    text-decoration-line: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.carousel-item {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 240px;
    width: 240px;
    margin: 8px;
    font-size: 12px;
}

.header {
    background-color: rgb(52, 58, 64);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-between;
    position: relative;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFF;
    padding: 8px 16px 8px 16px;
}

.item {
    margin-right: 16px;
}

.btn {
    cursor: pointer;
    display: inline-block;
}

#carousel {
    max-width: 1024px;
    align-items: center;
    height: auto;
    border: 1px solid #cccc;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 16px auto;
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    display: inline-block;
    vertical-align: middle;
}


#logo {
    font-weight: 500;
}
